server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/.DS_Store
server/dist
server/node_modules
server/.idea

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.DS_Store
client/dist
client/node_modules
client/.idea

# Editor directories and files
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln

client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln